{% import '_includes/forms' as _forms %}

{% set asset = asset ?? null %}
{% set damUrl = asset ? asset.damUrl : null %}

{% if damUrl %}

    <a href="{{ damUrl }}" class="btn" data-icon="external" target="_blank" style="margin-bottom:20px;">{{ 'Open in DAM'|t('escapedam') }}</a>

{% endif %}
