{% import '_includes/forms' as _forms %}

{% set element = element ?? null %}

{% if element and className(element) == 'craft\\elements\\Asset' %}

    {% set damUrl = craft.escapedam.getDamUrl() %}
    {% set damFile = craft.escapedam.getFileForImportedAsset(element, true) %}

    {% if damUrl and damFile %}

        {% set fileId = damFile.id %}
        {% set damFileUrl = url(damUrl|trim('/') ~ '/edit/' ~ fileId)  %}

        <div class="data">
            <div class="heading">
                <a href="{{ damFileUrl }}" class="btn" data-icon="external" target="_blank">{{ 'Open in DAM' }}</a>
            </div>
        </div>

    {% endif %}
{% endif %}
