{% extends "_layouts/cp" %}

{% set title = craft.escapedam.settings.pluginName|default('Escape DAM') %}

{% do view.registerAssetBundle("escape\\escapedam\\assetbundles\\cp\\EscapeDamCpSectionAsset") %}

{% block content %}
    {% set url = craft.escapedam.getDamUrl() %}
    {% set token = craft.escapedam.getDamToken() %}
    {% if url and token %}
        <div style="outline: 1px solid red;position:relative;top:0;left:0;width:100%;height:100%;">
            <iframe id="escapedam-frame" src="{{ url }}?token={{ token }}&storageKey={{ siteUrl }}" style="width:100%;height:100%;overflow:hidden;" scrolling="no" frameborder="0"></iframe>
        </div>
    {% endif %}
{% endblock %}
